@font-face {
  font-family: "SamsungOne";
  src: url("../font/SamsungOne-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SamsungOne";
  src: url("../font/SamsungOne-700.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SamsungSharpSans";
  src: url("../font/SamsungSharpSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}