@font-face {
  font-family: "SamsungOne";
  src: url("../font/SamsungOne-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SamsungOne";
  src: url("../font/SamsungOne-700.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SamsungSharpSans";
  src: url("../font/SamsungSharpSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.border-box1 {
  font-size: 2.0833333333vw!important;
  font-size: 10px;
  border: 1px solid red;
}

.border-box2 {
  top: 4.1666666667vw;
  border: 1px solid blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "SamsungOne", Arial, sans-serif;
  font-size: 1.1rem;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.58;
  font-weight: 400;
  overflow-x: hidden;
}

legend {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 1px;
}

*:focus {
  box-shadow: 0 0 0 2px #fff;
  outline: 2px dotted #000 !important;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.textarea {
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  overflow: hidden;
}

.height-test {
  height: 1000px;
}

.color--black {
  color: #000 !important;
}

.cta--black {
  padding: 12px 22px;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  transition: color 0.3s, background-color 0.3s;
}
.cta--black:hover {
  color: #eee !important;
  background-color: #555 !important;
}

.more-white {
  color: #fff !important;
}

.pc-product-name-active {
  opacity: 1 !important;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 0.3s !important;
          animation-duration: 0.3s !important;
}

.text-shadow-white {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.75);
}

.text-shadow-black {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

.cta__inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin-top: 28px;
  line-height: 19px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.cta__inner .cta {
  position: relative;
  display: block;
}
.cta__inner .cta--more {
  position: relative;
  color: black;
  padding-bottom: 2px;
}
.cta__inner .cta--more:hover::before {
  width: 100%;
  transition: all 0.3s;
}
.cta__inner .cta--more:hover::after {
  width: 0%;
}
.cta__inner .cta--more::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
.cta__inner .cta--more::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 0%;
  height: 2px;
  background-color: currentColor;
}
.cta__inner .cta--now {
  padding: 12px 22px;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
  transition: color 0.3s, background-color 0.3s;
}
.cta__inner .cta--now:hover {
  color: #eee !important;
  background-color: #555 !important;
}
.cta__inner .cta:nth-child(2) {
  margin-left: 1.3888888889vw;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.container, .footer__inner, .key-feature-tab__inner, .half-teaser-list__inner, .header__inner {
  position: relative;
  display: block;
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
  z-index: 2001;
}

.gnb-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 2000;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
}

.open {
  display: block !important;
}

.header {
  position: relative;
  display: block;
  background-color: #fff;
  z-index: 2001;
}
.header__inner {
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 80px;
}
.header__inner .logo svg {
  width: 100px;
  height: 32px;
}
.header__inner .nav {
  display: block;
  z-index: 2222;
}
.header__inner .nav .gnb {
  display: flex;
  align-items: center;
  margin-left: 75px;
  font-family: SamsungOne, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}
.header__inner .nav .gnb__left {
  display: flex;
}
.header__inner .nav .gnb__right {
  display: flex;
  margin-left: 200px;
}
.header__inner .nav .gnb .contents-wrap {
  position: absolute;
  top: 70px;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  background-color: #fff !important;
  width: 100vw;
  z-index: 2001;
  transition: top 0.5s, display 0.1s;
}
.header__inner .nav .gnb .contents-wrap .contents {
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  max-width: 1440px;
  z-index: 2001;
  height: 0px;
  background-color: #fff;
  padding: 0 20px;
  padding-top: 45px;
  transition: all 0.2s;
}
.header__inner .nav .gnb .contents-wrap .contents-title {
  position: relative;
  font-family: "SamsungOne", arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}
.header__inner .nav .gnb .contents-wrap .contents-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: #000;
}
.header__inner .nav .gnb .contents-wrap .contents-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: #000;
}
.header__inner .nav .gnb .contents-wrap .contents-list {
  margin-top: 40px;
}
.header__inner .nav .gnb .contents-wrap .contents-item {
  position: relative;
  display: block;
  width: 18%;
  font-family: SamsungOne, arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 37px 0;
}
.header__inner .nav .gnb .contents-wrap .contents-item a:hover, .header__inner .nav .gnb .contents-wrap .contents-item a:focus {
  font-weight: 700;
}
.header__inner .nav .gnb .contents-wrap .contents-item .arrow {
  position: absolute;
  left: 230px;
  top: 50%;
  display: block;
  transform: translateY(-50%);
  width: 25px;
  opacity: 0;
  visibility: hideen;
  transition: all 0.2s;
  cursor: pointer;
}
.header__inner .nav .gnb .contents-wrap .contents-item .submenu {
  position: fixed;
  left: 347px;
  top: 115px;
  display: block;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.header__inner .nav .gnb .contents-wrap .contents-item .submenu-item {
  margin-bottom: 37px;
}
.header__inner .nav .gnb .contents-wrap .contents-item .submenu-item a {
  position: relative;
  font-size: 18px;
  padding: 8px 0;
}
.header__inner .nav .gnb .contents-wrap .contents-item .submenu-item a::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  margin-top: 20px;
  width: 0%;
  height: 1px;
  transition: all 0.3s;
}
.header__inner .nav .gnb .contents-wrap .contents-item .submenu-item a:hover::before, .header__inner .nav .gnb .contents-wrap .contents-item .submenu-item a:focus::before {
  width: 100%;
}
.header__inner .nav .gnb .contents-wrap .contents-img {
  position: absolute;
  right: 0px;
  top: 105px;
  display: block;
  width: 497px;
  padding: 0 83px;
  border-left: 1px solid #ddd;
  font-size: 18px;
}
.header__inner .nav .gnb .contents-wrap .contents-img .img {
  display: block;
  width: 330px;
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
}
.header__inner .nav .gnb .contents-wrap .contents-img .img img {
  transition: transform 0.2s;
}
.header__inner .nav .gnb .contents-wrap .contents-img .img img:hover {
  transform: scale(1.05);
}
.header__inner .nav .gnb .contents-wrap .contents-img > span {
  display: block;
  margin-left: 10px;
  white-space: normal;
  line-height: 1.3;
}
.header__inner .nav .gnb .contents-wrap .contents-img .cta--more {
  margin-left: 10px;
}
.header__inner .nav .gnb .contents-wrap .contents-close {
  position: absolute;
  right: 1.3194vw;
  top: 3.0833vw;
  display: block;
  width: 24px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.header__inner .nav .gnb .gnb-item {
  padding: 8px;
}
.header__inner .nav .gnb .gnb-item:hover {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
}
.header__inner .nav .gnb .gnb-item:focus {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
}
.header__inner .nav .gnb .active .gnb__contents {
  height: 700px;
}
.header__inner .utility {
  display: flex;
  margin-left: auto;
}
.header__inner .utility__item {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.header__inner .utility__item .search-modal {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3000;
}
.header__inner .utility__item .search-modal__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 111px;
  color: #fff;
}
.header__inner .utility__item .search-modal__contents {
  position: relative;
  display: block;
  width: 684px;
  text-align: center;
}
.header__inner .utility__item .search-modal__title {
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-size: 38px;
  line-height: 1.2;
  color: #fff;
}
.header__inner .utility__item .search-modal__search {
  position: relative;
  display: block;
  margin-top: 25px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.header__inner .utility__item .search-modal__input {
  width: 80%;
  height: 48px;
  font-size: 18px;
  line-height: 1.33;
  border: 0;
}
.header__inner .utility__item .search-modal__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}
.header__inner .utility__item .search-modal__icon svg {
  width: 24px;
  height: 24px;
}
.header__inner .utility__item .search-modal__suggest {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: left;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header__inner .utility__item .search-modal__suggest-title {
  color: #000;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}
.header__inner .utility__item .search-modal__suggest .suggest {
  position: relative;
  display: block;
}
.header__inner .utility__item .search-modal__suggest .suggest-item {
  position: relative;
  display: block;
  font-size: 14px;
  margin-top: 25px;
}
.header__inner .utility__item .search-modal__link {
  position: relative;
  display: block;
  padding-top: 25px;
}
.header__inner .utility__item .search-modal__link .link-bt {
  font-family: "SamsungOne", arial, sans-serif;
  font-size: 12px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px 11px;
  border-radius: 20px;
  margin: 0 10px 5px 5px;
  cursor: pointer;
}
.header__inner .utility__item .search-modal__link .link-bt:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.header__inner .utility__item .search-modal__close {
  position: absolute;
  right: 22px;
  top: 22px;
  display: block;
  width: 36px;
  height: 36px;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.header__inner .utility__item .search-modal__close svg {
  fill: #fff;
}
.header__inner .utility__item .search-modal__close-mo {
  position: absolute;
  right: 22px;
  top: 22px;
  display: none;
  width: 36px;
  height: 36px;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.header__inner .utility__item .search-modal__close-mo svg {
  fill: #000;
}
.header__inner .utility__item .basket-modal {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 3000;
}
.header__inner .utility__item .basket-modal__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header__inner .utility__item .basket-modal__contents {
  position: relative;
  display: flex;
  width: 448px;
  border-radius: 20px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.header__inner .utility__item .basket-modal__info {
  width: 48px;
}
.header__inner .utility__item .basket-modal__des {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}
.header__inner .utility__item .basket-modal__cta {
  margin-top: 30px;
  border: 0;
  padding: 10px 90px;
  border-radius: 20px;
  background: #000;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.3s, color 0.3s;
  font-family: SamsungOne, Arial, sans-serif;
  cursor: pointer;
}
.header__inner .utility__item .basket-modal__cta .cta-text {
  color: #fff;
  text-transform: uppercase;
}
.header__inner .utility__item .basket-modal__cta:hover {
  color: #eee !important;
  background: #555 !important;
}
.header__inner .utility__item .basket-modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 24px;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.header__inner .utility__item .login-layer {
  position: absolute;
  left: -197px;
  top: 32px;
  display: block;
  width: 216px;
  background-color: #fff;
  z-index: 1000;
  padding: 18px 16px;
  border-radius: 6px;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transform-origin: 100% 0;
  transition-delay: 0.15s;
}
.header__inner .utility__item .login-layer__list {
  position: relative;
  display: block;
}
.header__inner .utility__item .login-layer__item {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 15px;
}
.header__inner .utility__item .login-layer__item:last-child {
  margin-bottom: 0px;
}
.header__inner .utility__item .login-layer__item .layer-text {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
}
.header__inner .utility__item .login-layer__item .layer-icon {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  line-height: 0px;
}
.header__inner .utility__item .login-layer__item .layer-icon svg {
  width: 16px;
  height: 16px;
}
.header__inner .utility .mobile-gnb {
  display: none;
}

.pc-login:focus-within > .login-layer {
  transition: all 0.2s;
  transform: scale(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.pc-login:hover .login-layer {
  transition: all 0.2s;
  transform: scale(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.login-active {
  transition: all 0.2s;
  transform: scale(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.gnb-item {
  overflow: hidden !important;
  border-radius: 20px;
}

.contents-title:hover::before {
  width: 0 !important;
}

.contents-title:hover::after {
  width: 100% !important;
  transition: all 0.3s;
}

.selected > .item-title {
  font-weight: 700;
}

.selected > .arrow {
  opacity: 1 !important;
  visibility: visible !important;
}

.selected > .submenu {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  left: 367px !important;
  transition: all 0.3s;
}

.active:focus .selected > .submenu {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  left: 367px !important;
  transition: all 0.3s;
}

.active .contents-wrap {
  top: 57.33px !important;
  display: block !important;
}

.active .contents {
  height: 750px !important;
}

.active .gnb-item {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 20px;
}

.main {
  position: relative;
  display: block;
}

.home-kv-carousel {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}
.home-kv-carousel__inner {
  position: relative;
  display: block;
  width: 1440px;
  height: 640px;
  max-width: 1440px;
  max-height: 640px;
  overflow: hidden;
}
.home-kv-carousel__slide-inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1440px;
  color: white;
  height: 43.4444444444vw;
  max-height: 640px;
  overflow: hidden;
}
.home-kv-carousel__text-wrap {
  position: absolute;
  display: block;
  width: 50%;
  z-index: 10;
}
.home-kv-carousel .wrap--middle {
  left: 5.9027777778vw;
  top: 25%;
}
.home-kv-carousel .wrap--top {
  left: 90px;
  top: 70px;
}
.home-kv-carousel__headline {
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  color: currentColor;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.home-kv-carousel__desc {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.33;
  color: currentColor;
  word-wrap: break-word;
}
.home-kv-carousel__desc-header {
  font-weight: 700;
}
.home-kv-carousel__desc-footer {
  font-size: 13px;
  font-weight: 400;
  display: block;
  padding-top: 15px;
}
.home-kv-carousel__desc-watch {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.33;
  word-wrap: break-word;
}
.home-kv-carousel__cta {
  position: relative;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin-top: 28px;
  line-height: 19px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.home-kv-carousel__cta .cta {
  position: relative;
  display: block;
}
.home-kv-carousel__cta .cta--more {
  position: relative;
  color: black;
  padding-bottom: 2px;
}
.home-kv-carousel__cta .cta--more:hover::before {
  width: 100%;
  transition: all 0.3s;
}
.home-kv-carousel__cta .cta--more:hover::after {
  width: 0%;
}
.home-kv-carousel__cta .cta--more::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
.home-kv-carousel__cta .cta--more::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 0%;
  height: 2px;
  background-color: currentColor;
}
.home-kv-carousel__cta .cta--now {
  padding: 12px 22px;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
  transition: color 0.3s, background-color 0.3s;
}
.home-kv-carousel__cta .cta--now:hover {
  color: #eee !important;
  background-color: #555 !important;
}
.home-kv-carousel__cta .cta:nth-child(2) {
  margin-left: 1.3888888889vw;
}
.home-kv-carousel__video {
  position: relative;
  display: block;
  width: 100%;
}
.home-kv-carousel__video .thumbnail picture {
  width: 100%;
}
.home-kv-carousel__video .thumbnail picture img {
  width: 100%;
}
.home-kv-carousel__video .video {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.home-kv-carousel__video .video-player {
  width: 100%;
  height: 100%;
}
.home-kv-carousel__video .pc #kvMobile {
  display: none !important;
}
.home-kv-carousel__video .mobile #kvPc {
  display: none !important;
}
.home-kv-carousel__background {
  position: relative;
  display: block;
}
.home-kv-carousel__background .thumbnail img {
  width: 100%;
}
.home-kv-carousel .gnb-indicator-wrap {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  max-width: 1440px;
  height: 80px;
  z-index: 1;
}
.home-kv-carousel .gnb-indicator-wrap .indicator {
  position: absolute;
  left: 50%;
  top: 4px;
  transform: translateX(-50%);
  display: block;
}
.home-kv-carousel .gnb-indicator-wrap .indicator-wrap {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__progress-wrap {
  display: inline-block;
  height: auto;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__progress-list {
  position: relative;
  display: flex;
  height: 45px;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__progress-list button {
  position: relative;
  border: 0;
  background-color: transparent;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__progress-item {
  display: inline-flex;
  align-items: flex-end;
  width: 150px;
  min-height: 30px;
  cursor: pointer;
  border: 0;
  margin-right: 16px;
  background-color: transparent;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__progress-item:hover .indicator__product-name {
  opacity: 1;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__product-wrap {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 13px;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__product-line {
  position: absolute;
  left: 0;
  bottom: 4px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
}
.home-kv-carousel .gnb-indicator-wrap .indicator__product-line button {
  top: -37px;
  width: 100%;
  height: 2500%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__product-name {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-bottom: 9px;
  font-size: 14px;
  font-family: "SamsungOne";
  font-weight: 700;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
  color: #fff;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__product-name:focus {
  opacity: 1 !important;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__controls {
  position: absolute;
  right: -19px;
  bottom: 8px;
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 21px;
  height: 21px;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__controls .play {
  width: 24px;
  height: 24px;
}
.home-kv-carousel .gnb-indicator-wrap .indicator__controls-pc-progress {
  width: 16px;
  height: 16px;
}
.home-kv-carousel .cta--now:hover {
  color: #313131 !important;
  background-color: #ddd !important;
}
.home-kv-carousel .deactive {
  display: none;
}

.indicator-active .indicator__product-line {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.home-kv-carousel--black .indicator__product-name {
  color: #000 !important;
}

.home-kv-carousel--black .indicator__product-line {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.home-kv-carousel--black .indicator__progress-item:nth-child(2) .indicator__product-line {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.home-kv-carousel--black .indicator__controls #play {
  fill: #000;
}

.home-kv-carousel--black .indicator__controls #pause {
  fill: #000 !important;
}

.home-kv-carousel--black .home-kv-carousel__slide-inner {
  color: black;
}

.arrow-indicator-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 0;
  z-index: 30;
  max-width: 1440px;
}

.arrow-indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  max-width: 1440px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 0;
  cursor: pointer;
}
.arrow-indicator svg {
  width: 100%;
  height: 100%;
}
.arrow-indicator:focus svg > g > g > circle {
  fill: #000;
}
.arrow-indicator:hover svg > g > g > circle {
  fill: #000;
}
.arrow-indicator svg > g > g > g {
  fill: #fff;
  fill-opacity: 0.95;
}
.arrow-indicator svg > g > g > circle {
  fill: #1c1c1c;
  opacity: 0.5;
  stroke: #fff;
  stroke-opacity: 0.15;
  z-index: 9999;
  transition: fill 0.1s cubic-bezier(0.4, 0, 0.2, 1), fill-opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-indicator--prev {
  left: 10px;
}
.arrow-indicator--next {
  right: 10px;
}

.indicator__controls #play {
  display: block;
}

.indicator__controls #pause {
  display: none;
}

.play #play {
  display: none;
}

.play #pause {
  display: block;
}

.half-teaser-list {
  padding-top: 50px;
}
.half-teaser-list__inner {
  padding: 0px 24px;
  display: block;
}
.half-teaser-list__headline {
  position: relative;
  font-size: 38px;
  font-family: "SamsungSharpSans", arial, sans-serif;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}
.half-teaser-list__link {
  position: relative;
  display: inline;
  color: #000;
}
.half-teaser-list__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  display: inline;
  width: 0%;
  height: 2px;
  background-color: #555;
  color: red;
}
.half-teaser-list__link:hover::after {
  width: 100%;
  transition: width 0.25s;
}
.half-teaser-list__link:hover {
  color: #555;
}
.half-teaser-list__visual {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 22px;
       column-gap: 22px;
  padding-top: 45px;
  overflow: hidden;
}
.half-teaser-list__visual-img {
  width: 684px;
  height: 684px;
  overflow: hidden;
  border-radius: 20px;
}
.half-teaser-list__visual-img .cta__inner {
  display: none;
}
.half-teaser-list__visual-img figure {
  width: 684px;
  height: 684px;
  overflow: hidden;
  border-radius: 20px;
}
.half-teaser-list__visual-img span {
  display: none;
  font-size: 0px;
}
.half-teaser-list__visual-img img {
  transition: transform 0.2s;
}
.half-teaser-list__visual-img img:hover {
  transform: scale(1.1);
}
.half-teaser-list__visual-content {
  position: relative;
  display: block;
  width: 685px;
}
.half-teaser-list__visual-content-list {
  width: 100%;
  padding-top: 83px;
  height: auto;
}
.half-teaser-list__visual-content-item {
  position: relative;
  display: flex;
  height: 86px;
  align-items: center;
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-weight: bold;
  transition: all 0.2s;
  overflow: hidden;
}
.half-teaser-list__visual-content-item h4 {
  width: 100%;
  font-size: 24px;
  line-height: 1.14;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 60px;
}
.half-teaser-list__visual-content-item span {
  width: 90px;
  font-size: 16px;
  line-height: 1.33;
  padding-left: 24px;
  padding-bottom: 60px;
}
.half-teaser-list__visual-content-item .half-teaser-list__button {
  position: absolute;
  padding-top: 80px;
  padding-left: 86px;
  z-index: 0;
}
.half-teaser-list__visual-content-item .half-teaser-list__button .cta__inner {
  font-family: "SamsungOne";
}
.half-teaser-list .pagination {
  display: none;
}

#teaser-img:focus {
  width: 99.5%;
  height: 99.5%;
  border-radius: 20px;
  display: inline-block;
}

.half-teaser-list__visual-content-item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 80%;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  transition: all 0.2s;
}

.half-teaser-list__visual-content-item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 28px;
  display: block;
  width: 88%;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.item--active {
  height: 175px;
}

.item--active::before {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.item--active::after {
  opacity: 1;
  visibility: visible;
}

.item--active .half-teaser-list__button {
  opacity: 1;
  visibility: visible;
}

.item--active:last-child::after {
  display: none;
}

.item--active .half-teaser-list__button {
  padding-top: 20px;
}

.key-feature-tab {
  padding-top: 90px;
}
.key-feature-tab__inner {
  overflow: hidden;
}
.key-feature-tab__headline {
  position: relative;
  margin-top: 48px;
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 1.2;
  color: currentColor;
  text-align: center;
  z-index: 2;
}
.key-feature-tab__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 51px;
       column-gap: 51px;
  height: 64px;
  z-index: 2;
}
.key-feature-tab__item button {
  position: relative;
  font-family: "SamsungOne", arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.key-feature-tab__item button .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  display: inline-block;
  width: 0%;
  height: 2px;
  font-size: 0;
  background-color: #000;
  z-index: 3;
  transition: width 0.2s;
}
.key-feature-tab__item button .line-active {
  width: 100%;
}
.key-feature-tab__item button:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.key-feature-tab__slide {
  position: relative;
  display: block;
  z-index: -1 !important;
  height: 653px;
}
.key-feature-tab__slide #parallax-duration {
  transition: all 0.1s 220ms;
}
.key-feature-tab__slide-title {
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 560px;
  cursor: default;
  transform: translateX(0);
  transition: transform 0.5s;
}
.key-feature-tab__slide-title span {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 830px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.key-feature-tab__slide-cta {
  padding-bottom: 48px;
  transform: translateX(0);
  transition: transform 0.5s;
}
.key-feature-tab__slide-cta .cta__inner {
  margin-top: 2px;
  justify-content: center;
  align-items: center;
}
.key-feature-tab__slide-cta .cta__inner .cta--black {
  font-size: 14px;
  padding: 11px 26px;
}
.key-feature-tab__slide-background {
  position: absolute;
  top: -157px;
  width: 100%;
  z-index: -1;
}
.key-feature-tab__slide-background img {
  width: 100%;
}

.key-feature-tab--white .cta--more {
  color: #fff;
}

.footer {
  position: relative;
  display: block;
  padding-top: 100px;
}
.footer-column {
  position: relative;
  display: flex;
}
.footer-column__item {
  width: 20%;
  max-height: 715px;
  height: auto;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.footer-column__item:last-child {
  border-right: 0;
}
.footer-column__item .submenu__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 20px;
}
.footer-column__item .submenu__arrow {
  display: none;
}
.footer-column__item .submenu__list {
  position: relative;
  display: block;
  margin-bottom: 25px;
}
.footer-column__item .submenu__item {
  display: block;
  padding: 7px 24px;
  font-size: 14px;
  line-height: 1.33;
  color: #000;
  cursor: pointer;
}
.footer-column__item .submenu__item:hover, .footer-column__item .submenu__item:focus-within {
  text-decoration: underline;
  color: #1428a0 !important;
}
.footer-bottom {
  position: relative;
  display: block;
}
.footer-bottom .copyright {
  position: relative;
  display: flex;
  font-size: 12px;
  text-align: left;
  line-height: 1.33;
  align-items: center;
  height: 95px;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 25px;
}
.footer-bottom .information {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 25px;
  height: 64px;
}
.footer-bottom .information .language {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: #000;
  margin-right: 24px;
}
.footer-bottom .terms-list {
  position: relative;
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  padding-left: 24px;
}
.footer-bottom .terms-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 12px;
  background-color: #d9d9d9;
}
.footer-bottom .terms-item {
  font-size: 12px;
  line-height: 1.33;
  color: #000;
  text-transform: capitalize;
}
.footer-bottom .sns {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer-bottom .sns-title {
  font-size: 12px;
  line-height: 1.33;
}
.footer-bottom .sns-list {
  position: relative;
  display: flex;
}
.footer-bottom .sns-item {
  font-size: 24px;
  margin-left: 17px;
}
.footer-bottom .sns-item .fa-brands {
  color: #000;
}

.scroll-top {
  position: fixed;
  right: 32px;
  bottom: 24px;
  display: block;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 9999;
  opacity: 0 !important;
  visibility: hidden !important;
  border: 0;
  cursor: pointer;
  visibility: visible;
  transition: all 0.5s;
}
.scroll-top__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #fff;
  font-size: 24px;
}

.scroll-open {
  opacity: 1 !important;
  visibility: visible !important;
}

.chat {
  position: fixed;
  right: 30px;
  bottom: 85px;
  display: block;
  z-index: 99999;
}
.chat__inner {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgb(0, 195, 22);
  z-index: 99999;
  overflow: hidden;
}
.chat__inner img {
  background-size: cover;
  background-color: transparent;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.chat-close {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 0;
  z-index: 999999;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
}
.chat:hover .chat-close {
  display: block !important;
}

.feedback {
  position: fixed;
  right: 0;
  bottom: 315px;
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 99999;
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .container, .header__inner, .half-teaser-list__inner, .key-feature-tab__inner, .footer__inner {
    position: relative;
    display: block;
    width: 97.6388888889vw;
    margin: 0 auto;
  }
  .header__inner {
    height: 80px;
    display: flex;
  }
  .header__inner .utility__item {
    margin-left: 1.6666666667vw;
  }
  .header__inner .utility__item .search-modal__title {
    font-size: 2.6388888889vw;
  }
  .header__inner .utility__item .search-modal__search {
    margin-top: 1.7361111111vw;
    border-top-left-radius: 1.3888888889vw;
    border-top-right-radius: 1.3888888889vw;
  }
  .header__inner .utility__item .search-modal__icon svg {
    width: 1.6666666667vw;
    height: 1.6666666667vw;
  }
  .header__inner .utility__item .search-modal__contents {
    width: 47.5vw;
  }
  .header__inner .utility__item .search-modal__suggest {
    padding-top: 1.3888888889vw;
    padding-bottom: 2.0833333333vw;
    padding-left: 1.3888888889vw;
    padding-right: 1.3888888889vw;
    border-bottom-left-radius: 1.3888888889vw;
    border-bottom-right-radius: 1.3888888889vw;
  }
  .header__inner .utility__item .search-modal__suggest-title {
    font-size: 1.25vw;
  }
  .header__inner .utility__item .search-modal__suggest .suggest-item {
    font-size: 0.9722222222vw!important;
    margin-top: 1.7361111111vw!important;
  }
  .header__inner .utility__item .search-modal__close {
    width: 2.5vw;
    height: 2.5vw;
  }
  .basket-modal__contents {
    width: 31.1111111111vw!important;
    padding-top: 1.3888888889vw!important;
    padding-bottom: 1.3888888889vw!important;
    padding-left: 1.3888888889vw!important;
    padding-right: 1.3888888889vw!important;
  }
  .basket-modal__info {
    width: 3.3333333333vw!important;
  }
  .basket-modal__des {
    margin-top: 1.3888888889vw!important;
    font-size: 1.25vw!important;
  }
  .basket-modal__cta {
    margin-top: 2.0833333333vw!important;
    padding-top: 0.6944444444vw!important;
    padding-bottom: 0.6944444444vw!important;
    padding-left: 5.5555555556vw!important;
    padding-right: 5.5555555556vw!important;
    border-radius: 1.3888888889vw!important;
    font-size: 0.9722222222vw!important;
  }
  .indicator__controls {
    right: -1.0416666667vw!important;
    bottom: 1.1111111111vw!important;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__controls-pc-progress {
    width: 1.1111111111vw;
    height: 1.1111111111vw;
  }
  .home-kv-carousel__inner {
    width: 100vw;
    height: 43.4444444444vw;
  }
  .home-kv-carousel .gnb-indicator-wrap {
    height: 5.5555555556vw;
  }
  .home-kv-carousel__text-wrap {
    width: 43.0555555556vw;
  }
  .wrap--top {
    left: 6.25vw;
    top: 4.8611111111vw;
  }
  .home-kv-carousel__headline {
    font-size: 3.3333333333vw;
  }
  .home-kv-carousel__desc {
    margin-top: 1.6666666667vw;
    font-size: 1.25vw;
  }
  .home-kv-carousel__desc-watch {
    margin-top: 1.1111111111vw;
    font-size: 0.9722222222vw;
  }
  .home-kv-carousel__cta {
    font-size: 0.9722222222vw;
  }
  .cta--now {
    padding: 0.7333vw 1.5278vw !important;
  }
  .arrow-indicator {
    width: 2.9166666667vw;
    height: 2.9166666667vw;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__progress-wrap {
    height: 3.4722222222vw;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__progress-list {
    height: 3.125vw;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__progress-item {
    width: 10.4166666667vw;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__product-name {
    font-size: 0.9722222222vw;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__product-line button {
    top: -33px;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__controls .play {
    width: 1.6666666667vw;
    height: 1.6666666667vw;
  }
  .half-teaser-list__inner {
    padding-right: 1.6666666667vw;
    padding-left: 1.6666666667vw;
  }
  .half-teaser-list__headline {
    font-size: 2.6388888889vw;
  }
  .half-teaser-list__visual {
    -moz-column-gap: 1.0138888889vw;
         column-gap: 1.0138888889vw;
    padding-top: 3.125vw;
  }
  .half-teaser-list__visual img {
    width: 100%;
  }
  .half-teaser-list__visual-img {
    width: 47.5vw;
    height: 47.5vw;
  }
  .half-teaser-list__visual-img figure {
    width: 95%;
    width: 47.5vw;
    height: 47.5vw;
  }
  .half-teaser-list__visual-content {
    width: 47.5694444444vw;
  }
  .half-teaser-list__visual-content-list {
    padding-top: 5.7638888889vw;
  }
  .half-teaser-list__visual-content-item {
    height: 6.0416666667vw;
  }
  .half-teaser-list__visual-content-item span {
    width: 6.25vw;
    padding-left: 1.6666666667vw;
    font-size: 1.1111111111vw;
    padding-bottom: 4.1666666667vw;
  }
  .half-teaser-list__visual-content-item h4 {
    font-size: 1.6666666667vw;
    padding-bottom: 4.1666666667vw;
  }
  .half-teaser-list__visual-content-item .half-teaser-list__button {
    padding-top: 5.5555555556vw;
    padding-left: 5.9722222222vw;
  }
  .item--active {
    height: 12.1527777778vw;
  }
  .item--active::after {
    bottom: 1.9444444444vw;
  }
  .item--active .half-teaser-list__button {
    padding-top: 1.3888888889vw;
  }
  .half-teaser-list__button .cta__inner {
    font-size: 0.9722222222vw;
  }
  .half-teaser-list__button .cta--more::after {
    bottom: 0.1388888889vw;
    height: 0.1458333333vw;
  }
  .half-teaser-list__button .cta--more::before {
    bottom: 0.1388888889vw;
    height: 0.1458333333vw;
  }
  .key-feature-tab {
    padding-top: 6.25vw;
  }
  .key-feature-tab__headline {
    margin-top: 3.3333333333vw;
    font-size: 2.6388888889vw;
  }
  .key-feature-tab__list {
    -moz-column-gap: 3.5416666667vw;
         column-gap: 3.5416666667vw;
    height: 4.4444444444vw;
  }
  .key-feature-tab__item button {
    font-size: 1.25vw;
    line-height: 1.6666666667vw;
  }
  .key-feature-tab__slide-title {
    font-size: 3.3333333333vw;
    padding-bottom: 38.8888888889vw;
  }
  .key-feature-tab__slide-title span {
    width: 57.6388888889vw;
  }
  .key-feature-tab__slide-cta {
    padding-bottom: 3.3333333333vw;
  }
  .key-feature-tab__slide-cta .cta__inner {
    font-size: 0.8333333333vw;
    line-height: 1.3194444444vw;
  }
  .key-feature-tab__slide-cta .cta__inner .cta--more::after {
    height: 0.1388888889vw;
  }
  .key-feature-tab__slide-cta .cta__inner .cta--more::before {
    height: 0.1388888889vw;
  }
  .key-feature-tab__slide-cta .cta__inner .cta--black {
    padding-top: 0.7638888889vw;
    padding-bottom: 0.7638888889vw;
    padding-right: 1.8055555556vw;
    padding-left: 1.8055555556vw;
    border-radius: 1.7361111111vw;
    font-size: 0.9722222222vw;
  }
  .key-feature-tab__slide-background {
    top: -10.9027777778vw;
  }
  .key-feature-tab__item button:hover::after {
    padding-top: 0.5555555556vw;
    padding-bottom: 0.5555555556vw;
    padding-right: 1.1111111111vw;
    padding-left: 1.1111111111vw;
    border-radius: 1.3888888889vw;
  }
  .footer-column__item {
    min-height: 440px;
  }
  .footer-column__item .submenu__title {
    font-size: 1.25vw;
    padding-top: 1.0416666667vw;
    padding-bottom: 1.0416666667vw;
    padding-right: 1.3888888889vw;
    padding-left: 1.3888888889vw;
  }
  .footer-column__item .submenu__list {
    margin-bottom: 1.3888888889vw;
  }
  .footer-column__item .submenu__item {
    font-size: 0.9722222222vw;
    padding-top: 0.4861111111vw;
    padding-bottom: 0.4861111111vw;
    padding-right: 1.6666666667vw;
    padding-left: 1.6666666667vw;
  }
  .footer-bottom .copyright {
    font-size: 0.8333333333vw;
    height: 6.5972222222vw;
    padding-left: 1.7361111111vw;
  }
  .footer-bottom .information {
    padding-right: 1.7361111111vw;
    padding-left: 1.7361111111vw;
    height: 4.4444444444vw;
  }
  .footer-bottom .information .language {
    font-size: 0.8333333333vw;
    margin-right: 1.6666666667vw;
  }
  .footer-bottom .terms-list {
    -moz-column-gap: 1.7361111111vw;
         column-gap: 1.7361111111vw;
    padding-left: 1.6666666667vw;
  }
  .footer-bottom .terms-list::before {
    width: 0.0694444444vw;
    height: 0.8333333333vw;
  }
  .footer-bottom .terms-item {
    font-size: 0.8333333333vw;
  }
  .footer-bottom .sns-title {
    font-size: 0.8333333333vw;
  }
  .footer-bottom .sns-item {
    font-size: 1.6666666667vw;
    margin-left: 1.1805555556vw;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .nav .gnb {
    margin-left: 5.2083333333vw;
  }
  .nav .gnb__left-item {
    font-size: 0.9722222222vw;
  }
  .nav .gnb__right {
    margin-left: 11.1805555556vw!important;
    margin-right: 20px;
  }
  .nav .gnb__right-item {
    font-size: 0.9722222222vw;
  }
  .nav .gnb .contents-wrap .contents {
    padding-right: 2.4305555556vw!important;
    padding-left: 2.4305555556vw!important;
  }
  .nav .gnb .contents-wrap .contents-close {
    right: 2.2222222222vw!important;
    top: 4.1666666667vw!important;
  }
}
@media only screen and (max-width: 1279px) {
  .header__inner {
    height: 56px !important;
  }
  .header__inner .utility .pc-login {
    display: none;
  }
  .header__inner .utility .mobile-gnb {
    display: block;
  }
  .nav {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .header__inner {
    height: 56px !important;
    width: 100vw;
  }
  .header__inner .basket-modal__contents {
    min-width: 83.3333333333vw;
    padding: 2.7777777778vw!important;
    border-radius: 5.5555555556vw!important;
  }
  .header__inner .basket-modal__info {
    width: 12.5vw!important;
    margin-top: 5.5555555556vw!important;
  }
  .header__inner .basket-modal__des {
    margin-top: 5.5555555556vw!important;
    font-size: 3.75vw!important;
  }
  .header__inner .basket-modal__cta {
    margin-top: 6.5277777778vw!important;
    margin-bottom: 4.1666666667vw!important;
    padding-top: 3.4722222222vw!important;
    padding-bottom: 3.4722222222vw!important;
    padding-left: 34.7222222222vw!important;
    padding-right: 34.7222222222vw!important;
    border-radius: 6.9444444444vw!important;
  }
  .header__inner .basket-modal__close {
    right: 5.5555555556vw!important;
    top: 5.5555555556vw!important;
    width: 6.9444444444vw!important;
  }
  .header__inner .utility__item .search-modal {
    right: 0;
    bottom: 0;
    background-color: #fff;
  }
  .header__inner .utility__item .search-modal__inner {
    padding-top: 0;
  }
  .header__inner .utility__item .search-modal__title {
    display: none;
  }
  .header__inner .utility__item .search-modal__search {
    margin-left: 5.5555555556vw;
  }
  .header__inner .utility__item .search-modal__input {
    background: #f7f7f7;
    padding: 5.5555555556vw;
    padding-left: 11.8055555556vw;
    border-radius: 5.5555555556vw;
    font-size: 3.75vw;
  }
  .header__inner .utility__item .search-modal__icon {
    left: 13.0555555556vw;
  }
  .header__inner .utility__item .search-modal__icon svg {
    width: 4.4444444444vw!important;
    height: 4.4444444444vw!important;
  }
  .header__inner .utility__item .search-modal__close {
    display: none;
  }
  .header__inner .utility__item .search-modal__close svg {
    fill: #000;
  }
  .header__inner .utility__item .search-modal__close-mo {
    display: block;
    left: 6.9444444444vw;
    top: 37px;
    width: 6.25vw;
    height: 6.25vw;
  }
  .header__inner .utility__item .search-modal__close-mo svg {
    width: 7.6388888889vw;
    height: 7.6388888889vw;
  }
  .header__inner .utility__item .search-modal__suggest {
    padding-left: 6.25vw;
    padding-left: 6.25vw;
    padding-left: 6.25vw;
  }
  .header__inner .utility__item .search-modal__suggest-title {
    font-size: 4.1666666667vw;
  }
  .header__inner .utility__item .search-modal__suggest .suggest-item {
    font-size: 3.75vw;
    margin-top: 6.6666666667vw;
  }
  .nav {
    display: none;
  }
  .mobile-progress-active {
    background-color: #000 !important;
  }
  .home-kv-carousel__inner {
    max-height: 1100px;
    height: 150.4159vw;
  }
  .home-kv-carousel__slide-inner {
    height: 100%;
    max-height: 1080px;
  }
  .home-kv-carousel__text-wrap {
    width: 84vw !important;
    height: 70vw;
    text-align: center;
  }
  .wrap--mobile-top {
    top: 10.8611vw !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .wrap--mobile-bottom {
    top: 63.3611vw !important;
    left: 50% !important;
    transform: translate(-50%) !important;
  }
  .home-kv-carousel__headline {
    font-size: 8.33333333vw;
    line-height: 1.4;
    font-weight: 400;
  }
  .home-kv-carousel__desc {
    font-size: 3.88888888vw;
    margin-top: 2.680556vw;
  }
  .home-kv-carousel__desc-watch {
    margin-top: 2.2222222222vw;
    font-size: 3.0555555556vw;
  }
  .home-kv-carousel__cta .cta:nth-child(2) {
    margin-left: 0vw;
  }
  .cta-mobile {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .mobile--horizontal {
    justify-content: space-between;
    flex-direction: column;
  }
  .cta--now-mobile {
    text-align: center;
    font-size: 3.8vw;
    border-radius: 6.2552vw !important;
    padding: 3.77777778vw 6.66666667vw 4.05555556vw 6.66666667vw !important;
    margin-bottom: 4.1666666667vw;
  }
  .cta--more {
    font-size: 3.6vw;
    padding-bottom: 1.8vw !important;
  }
  .cta--more::after {
    height: 0.55555556vw !important;
  }
  .cta--more::before {
    height: 0.55555556vw !important;
  }
  .arrow-indicator {
    display: none !important;
  }
  .indicator__controls {
    right: 0.6944444444vw!important;
    bottom: 3.0555555556vw!important;
  }
  .indicator__controls-mo-progress {
    width: 4.0277777778vw!important;
    height: 4.0277777778vw!important;
  }
  .indicator__progress-list {
    width: 32.2222222222vw;
    height: 6.6666666667vw!important;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    top: -3vw !important;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__progress-item {
    display: block;
    width: 0px;
    margin-left: 4.0277777778vw;
    margin-right: 1.5833333333vw;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__product-line {
    top: 2.09vw;
    left: -6px;
    width: 2.2152777778vw;
    height: 2.2152777778vw;
    border-radius: 50%;
    background-color: #8f8f8f;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__product-name {
    display: none;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__product-wrap .pc-progress-active {
    background-color: #fff !important;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__product-wrap .pc-progress-active-black {
    background-color: #000 !important;
  }
  .line-background-black-pc {
    background-color: #757575 !important;
  }
  .background-white-active {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__progress-list button {
    height: 100%;
    top: 0;
  }
  .home-kv-carousel--black .indicator__progress-list {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
  .home-kv-carousel--black .indicator__product-line {
    background-color: #757575 !important;
  }
  .home-kv-carousel--black .indicator__progress-item:nth-child(2) .indicator__product-line {
    background-color: #000 !important;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__controls {
    width: 6.9444444444vw;
    height: 6.9444444444vw;
  }
  .home-kv-carousel .gnb-indicator-wrap .indicator__controls .play {
    width: 6.9444444444vw;
    height: 6.9444444444vw;
  }
  .indicator-active .indicator__product-line {
    background-color: #fff !important;
  }
  .indicator__controls #pause rect {
    x: 48;
    width: 35px;
  }
  .indicator__controls #pause rect:first-child {
    x: 100;
    width: 35px;
  }
  .half-teaser-list__inner {
    width: 100%;
    padding: 0;
  }
  .half-teaser-list__headline {
    width: 97.2222222222vw;
    font-size: 7.2222222222vw;
  }
  .half-teaser-list__visual {
    padding: 8.7vw 2.22222222vw 0vw 6.66666667vw;
    height: 133.3333333333vw;
  }
  .half-teaser-list__link {
    width: 69.4444444444vw;
    display: inline-block;
    text-align: center;
  }
  .half-teaser-list__visual-img {
    width: 100%;
    font-family: "SamsungSharpSans", arial, sans-serif;
    height: 86.6666666667vw;
    overflow: visible;
  }
  .half-teaser-list__visual-img figure {
    width: 95%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
  }
  .half-teaser-list__visual-img span {
    display: inline-flex;
    width: 95%;
    padding-top: 7.9166666667vw;
    font-size: 4.4444444444vw;
    line-height: 5.9722222222vw;
    justify-content: center;
    text-align: center;
  }
  .half-teaser-list__visual-img .cta__inner {
    padding-top: 1.3888888889vw;
    width: 96%;
    justify-content: center;
    display: flex;
  }
  .half-teaser-list__visual-img .cta__inner .cta--more {
    font-size: 3.3333333333vw!important;
    padding-bottom: 1vw !important;
  }
  .half-teaser-list__visual-img img {
    width: 100%;
    height: 100%;
    height: 86.66666667vw;
    border-radius: 20px;
    overflow: hidden;
  }
  .half-teaser-list__visual-content {
    display: none;
  }
  .pagination {
    position: relative;
    display: block !important;
    width: 100%;
  }
  .pagination-list {
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    transform: translateX(-49%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4.1666666667vw;
  }
  .pagination-item {
    width: 2.2083333333vw;
    height: 2.2083333333vw;
    display: inline-block;
    background-color: #757575;
    border-radius: 50%;
    margin-top: 1.875vw;
    margin-bottom: 1.875vw;
    margin-left: 2.9583333333vw;
    cursor: pointer;
  }
  .pagination-item:last-child {
    margin-right: 2.9583333333vw;
  }
  .pagination-item--active {
    background-color: #000;
  }
  .pagination-item button {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 0;
  }
  .key-feature-tab__inner {
    width: 100%;
    height: 181.8889vw;
  }
  .key-feature-tab__headline {
    margin-top: 15.3472222222vw;
    font-size: 7.2222222222vw;
  }
  .key-feature-tab__list {
    padding-top: 5.1388888889vw;
    padding-bottom: 5.1388888889vw;
    -moz-column-gap: 6.6666666667vw;
         column-gap: 6.6666666667vw;
    overflow: auto;
    justify-content: initial;
    align-items: initial;
    padding-left: 6.1111111111vw;
    padding-right: 6.1111111111vw;
  }
  .key-feature-tab .key-feature-tab__list::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  .key-feature-tab__item {
    -ms-scroll-snap-type: x mandatory !important;
        scroll-snap-type: x mandatory !important;
  }
  .key-feature-tab__item button {
    white-space: nowrap;
    font-size: 3.8888888889vw;
  }
  .key-feature-tab__item button .line {
    bottom: -1.25vw;
  }
  .key-feature-tab__item button:hover::after {
    padding-top: 2.0833333333vw;
    padding-bottom: 2.0833333333vw;
    padding-left: 2.7777777778vw;
    padding-right: 2.7777777778vw;
    border-radius: 4.4444444444vw;
  }
  .key-feature-tab__slide-title {
    padding-bottom: 112.5vw;
    font-size: 8.3333333333vw;
    margin-bottom: 1.6666666667vw;
  }
  .key-feature-tab__slide-title span {
    width: 81.9444444444vw;
  }
  .key-feature-tab__slide-cta {
    margin-top: 8.4722222222vw;
  }
  .key-feature-tab__slide-cta .cta__inner .cta:nth-child(2) {
    margin-left: 0 !important;
  }
  .key-feature-tab__slide-cta .cta__inner {
    margin-top: -6.25vw;
    flex-direction: column-reverse;
  }
  .key-feature-tab__slide-cta .cta--black {
    font-size: 3.75vw!important;
  }
  .key-feature-tab__slide-cta .cta--now-mobile {
    margin-bottom: 5.166667vw;
  }
  .key-feature-tab__slide-background {
    width: 100%;
    height: 100%;
    top: -30.5555555556vw;
  }
  .key-feature-tab .swiper-slide:nth-child(2) span {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.75);
  }
  .key-feature-tab .swiper-slide:nth-child(2) .cta--more {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  }
  .footer__inner {
    max-width: 750px;
    width: 100vw;
  }
  .footer__inner .footer-column {
    flex-direction: column;
  }
  .footer__inner .footer-column__item {
    border: 0;
    width: 100%;
  }
  .footer__inner .footer-column__item:first-child {
    border-top: 1px solid #d9d9d9;
  }
  .footer__inner .footer-column__item .footer-submenu {
    position: relative;
    display: block;
    height: 16.6666666667vw;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
    transition: height 0.7s 100ms;
  }
  .footer__inner .footer-column__item .footer-submenu .submenu__title {
    padding-top: 5.5555555556vw;
    padding-bottom: 5.5555555556vw;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
    font-size: 4.4444444444vw;
  }
  .footer__inner .footer-column__item .footer-submenu .submenu__arrow {
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    width: 100%;
    height: 15.6944444444vw;
  }
  .footer__inner .footer-column__item .footer-submenu .submenu__arrow-icon {
    position: absolute;
    right: 45px;
    top: 5.5555555556vw;
    transform: rotate(90deg);
    display: block;
    width: 5.9722222222vw;
    transition: transform 0s 800ms;
  }
  .footer__inner .footer-column__item .footer-submenu .submenu__list {
    visibility: hidden;
    transition: visibility 0s 1000ms;
  }
  .footer__inner .footer-column__item .footer-submenu .submenu__item {
    font-size: 3.75vw;
    padding-top: 2.7777777778vw;
    padding-bottom: 2.7777777778vw;
    padding-left: 8.3333333333vw;
    padding-right: 8.3333333333vw;
  }
  .footer__inner .footer-column__item {
    max-height: none;
  }
  .footer-bottom .copyright {
    font-size: 3.3333333333vw;
    border: 0;
    margin-top: 2.0833333333vw;
    margin-bottom: 2.0833333333vw;
    padding-left: 6.9444444444vw;
  }
  .footer-bottom .information {
    display: grid;
    padding: 0;
  }
  .footer-bottom .information .language {
    order: 0;
    font-size: 3.4722222222vw;
    margin-bottom: 6.9444444444vw;
    padding-left: 6.9444444444vw;
  }
  .footer-bottom .information .terms {
    order: 2;
  }
  .footer-bottom .information .terms-list {
    justify-content: center;
    padding-left: 0;
    padding-top: 6.9444444444vw;
    -moz-column-gap: 6.9444444444vw;
         column-gap: 6.9444444444vw;
    padding-bottom: 6.9444444444vw;
  }
  .footer-bottom .information .terms-list::before {
    display: none;
  }
  .footer-bottom .information .terms-item {
    font-size: 3.4722222222vw;
  }
  .footer-bottom .information .sns {
    display: block;
    width: 100%;
    order: 1;
    text-align: center;
    margin: 0 auto;
  }
  .footer-bottom .information .sns-title {
    font-size: 3.3333333333vw;
  }
  .footer-bottom .information .sns-list {
    margin-top: 6.9444444444vw;
    -moz-column-gap: 4.8611111111vw;
         column-gap: 4.8611111111vw;
    justify-content: center;
  }
  .footer-bottom .information .sns-item {
    font-size: 6.3888888889vw;
    margin-left: 0;
  }
  .selected .submenu__list {
    visibility: visible !important;
    transition: visibility 0s 0ms !important;
  }
  .selected .submenu__arrow-icon {
    transform: rotate(270deg) !important;
    transition: transform 0s 0ms !important;
  }
  .footer-column__item .selected[data-columns="1"] {
    height: 166.6666666667vw;
  }
  .footer-column__item .selected[data-columns="2"] {
    height: 131.9444444444vw;
  }
  .footer-column__item .selected[data-columns="3"] {
    height: 102.7777777778vw;
  }
  .footer-column__item .selected[data-columns="4"] {
    height: 69.4444444444vw;
  }
  .footer-column__item .selected[data-columns="5"] {
    height: 112.5vw;
  }
  .footer-column__item .selected[data-columns="6"] {
    height: 100vw;
  }
}/*# sourceMappingURL=style.css.map */