@font-face {
  font-family: "SamsungOne";
  src: url("../font/SamsungOne-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SamsungOne";
  src: url("../font/SamsungOne-700.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SamsungSharpSans";
  src: url("../font/SamsungSharpSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.border-box1 {
  font-size: 2.0833333333vw!important;
  font-size: 10px;
  border: 1px solid red;
}

.border-box2 {
  top: 4.1666666667vw;
  border: 1px solid blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "SamsungOne", Arial, sans-serif;
  font-size: 1.1rem;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.58;
  font-weight: 400;
}

.textarea {
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  overflow: hidden;
}

.home-kv-carousel__text-wrap {
  border: 1px solid red;
}

.text-color--black {
  color: #000 !important;
}

.text-color--white {
  color: #fff !important;
}

.cta--black {
  color: white;
  background-color: #000 !important;
}

.cta--white {
  background-color: #fff !important;
  color: #000 !important;
}

.more-white {
  color: #fff !important;
}

.d-no {
  display: none !important;
}

.rotate {
  transform: rotate(45deg);
  color: red;
}

.pc-progress-active {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.container {
  position: relative;
  display: block;
}

.wrap {
  position: relative;
  display: block;
}

.header {
  position: relative;
  display: block;
}

.main {
  position: relative;
  display: block;
  margin-top: 80px;
}

.home-kv-carousel {
  position: relative;
  display: block;
  width: 1440px;
  height: 640px;
  max-width: 1440px;
  max-height: 640px;
  background-color: rgba(199, 6, 6, 0.411);
}
.home-kv-carousel__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}
.home-kv-carousel__slide-inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1440px;
  height: 43.4444444444vw;
  max-height: 640px;
  overflow: hidden;
}
.home-kv-carousel__text-wrap {
  position: absolute;
  display: block;
  width: 50%;
  z-index: 10;
}
.home-kv-carousel__text-wrap--top {
  left: 90px;
  top: 70px;
}
.home-kv-carousel__text-wrap--middle {
  left: 5.9027777778vw;
  top: 25%;
}
.home-kv-carousel__headline {
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  color: currentColor;
  word-wrap: break-word;
}
.home-kv-carousel__desc {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.33;
  color: currentColor;
  word-wrap: break-word;
}
.home-kv-carousel__desc-watch {
  font-size: 13px;
  font-weight: 400;
  display: block;
  padding-top: 15px;
}
.home-kv-carousel__cta {
  position: relative;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin-top: 28px;
  line-height: 19px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.home-kv-carousel__cta .cta--more {
  position: relative;
  color: black;
  padding-bottom: 2px;
}
.home-kv-carousel__cta .cta--more:hover::before {
  width: 100%;
  transition: all 0.3s;
}
.home-kv-carousel__cta .cta--more:hover::after {
  width: 0%;
}
.home-kv-carousel__cta .cta--more::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
.home-kv-carousel__cta .cta--more::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 0%;
  height: 2px;
  background-color: currentColor;
}
.home-kv-carousel__cta .cta--now {
  padding: 12px 22px;
  border-radius: 25px;
  transition: color 0.3s, background-color 0.3s;
}
.home-kv-carousel__cta .cta--now:hover {
  color: #eee !important;
  background-color: #555 !important;
}
.home-kv-carousel__cta .cta:nth-child(2) {
  margin-left: 1.3888888889vw;
}
.home-kv-carousel__video-wrap {
  position: relative;
  display: block;
  width: 100%;
}
.home-kv-carousel__video-wrap .thumbnail picture {
  width: 100%;
}
.home-kv-carousel__video-wrap .thumbnail picture img {
  width: 100%;
}
.home-kv-carousel__video-wrap .video {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.home-kv-carousel__video-wrap .video-player {
  width: 100%;
  height: 100%;
}
.home-kv-carousel__background-wrap {
  position: relative;
  display: block;
}
.home-kv-carousel__background-wrap .thumbnail img {
  width: 100%;
}
.home-kv-carousel__indicator-wrap {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  max-width: 1440px;
  height: 80px;
}
.home-kv-carousel__indicator-wrap .indicator {
  position: absolute;
  left: 50%;
  top: 4px;
  transform: translateX(-50%);
  display: block;
}
.home-kv-carousel__indicator-wrap .indicator-wrap {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.home-kv-carousel__indicator-wrap .indicator__progress-wrap {
  display: inline-block;
  height: auto;
}
.home-kv-carousel__indicator-wrap .indicator__progress-list {
  position: relative;
  display: flex;
  height: 45px;
}
.home-kv-carousel__indicator-wrap .indicator__progress-item {
  display: inline-flex;
  align-items: flex-end;
  width: 150px;
  min-height: 30px;
  cursor: pointer;
  border: 0;
  margin-right: 16px;
  background-color: transparent;
}
.home-kv-carousel__indicator-wrap .indicator__progress-item:hover .indicator__product-name {
  opacity: 1;
}
.home-kv-carousel__indicator-wrap .indicator__product-wrap {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 13px;
}
.home-kv-carousel__indicator-wrap .indicator__product-line {
  position: absolute;
  left: 0;
  bottom: 4px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
}
.home-kv-carousel__indicator-wrap .indicator__product-name {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-bottom: 9px;
  font-size: 14px;
  font-family: "SamsungOne";
  font-weight: 700;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
  color: #fff;
}
.home-kv-carousel__indicator-wrap .indicator__controls {
  position: absolute;
  right: -15px;
  bottom: 9px;
  display: block;
  border: 0;
  background-color: transparent;
}
.home-kv-carousel__indicator-wrap .indicator__controls-pc-progress {
  width: 16px;
  height: 16px;
}
.home-kv-carousel__indicator-wrap .indicator__controls__controls-dot {
  display: none !important;
}

.arrow-indicator-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 0;
  z-index: 30;
  max-width: 1440px;
}

.arrow-indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  max-width: 1440px;
  cursor: pointer;
}
.arrow-indicator--prev {
  left: 10px;
}
.arrow-indicator--next {
  right: 10px;
}
.arrow-indicator--circle {
  border-radius: 50%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .indicator__controls {
    right: -1.0416666667vw!important;
    bottom: 1.1111111111vw!important;
  }
  .home-kv-carousel__indicator-wrap .indicator__controls-pc-progress {
    width: 1.1111111111vw;
    height: 1.1111111111vw;
  }
  .home-kv-carousel {
    width: 100vw;
    height: 43.4444444444vw;
  }
  .home-kv-carousel__indicator-wrap {
    height: 5.5555555556vw;
  }
  .home-kv-carousel__text-wrap {
    width: 43.0555555556vw;
  }
  .home-kv-carousel__text-wrap--top {
    left: 6.25vw;
    top: 4.8611111111vw;
  }
  .home-kv-carousel__headline {
    font-size: 3.3333333333vw;
  }
  .home-kv-carousel__desc {
    margin-top: 1.6666666667vw;
    font-size: 1.25vw;
  }
  .home-kv-carousel__cta {
    font-size: 0.9722222222vw;
  }
  .cta--now {
    padding: 0.7333vw 1.5278vw !important;
  }
  .arrow-indicator {
    width: 2.9166666667vw;
    height: 2.9166666667vw;
    font-size: 0.9256944444vw;
  }
  .home-kv-carousel__indicator-wrap .indicator__progress-wrap {
    height: 3.4722222222vw;
  }
  .home-kv-carousel__indicator-wrap .indicator__progress-list {
    height: 3.125vw;
  }
  .home-kv-carousel__indicator-wrap .indicator__progress-item {
    width: 10.4166666667vw;
  }
  .home-kv-carousel__indicator-wrap .indicator__product-name {
    font-size: 0.9722222222vw;
  }
}
@media only screen and (max-width: 767px) {
  .mb-30-mo {
    margin-bottom: 3.9063vw;
  }
  .mt-40-mo {
    margin-top: 5.2083vw;
  }
  .font-size-20-m {
    font-size: 20px !important;
  }
  .font-size-14-m {
    font-size: 14px !important;
  }
  .mobile-progress-active {
    background-color: #000 !important;
  }
  .main {
    margin-top: 56px;
  }
  .home-kv-carousel {
    max-height: 1100px;
    height: 143.4159vw;
  }
  .home-kv-carousel__slide-inner {
    height: 100%;
    max-height: 1080px;
  }
  .home-kv-carousel__text-wrap {
    width: 80vw !important;
    height: 70vw;
    text-align: center;
  }
  .home-kv-carousel__text-wrap--mobile-top {
    top: 10.8611vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .home-kv-carousel__text-wrap--mobile-bottom-center {
    top: 63.3611vw;
    left: 50%;
    transform: translate(-50%);
  }
  .home-kv-carousel__headline {
    font-size: 8.33333333vw;
    line-height: 1.4;
    font-weight: 400;
  }
  .home-kv-carousel__desc {
    margin-top: 3.6805555556vw;
    font-size: 3.88888888vw;
  }
  .home-kv-carousel__desc-watch {
    margin-top: 2.22222222vw;
    font-size: 3.33333333vw;
  }
  .home-kv-carousel__cta .cta:nth-child(2) {
    margin-left: 0vw;
  }
  .home-kv-carousel__cta-mobile-type-1 {
    margin-top: 13.7778vw;
    font-size: 2.97222222vw !important;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 15vw;
  }
  .home-kv-carousel__cta-mobile-type-2 {
    justify-content: space-between;
    flex-direction: column;
  }
  .cta--now-mobile {
    text-align: center;
    font-size: 3.8vw;
    border-radius: 6.2552vw !important;
    padding: 3.77777778vw 6.66666667vw 4.05555556vw 6.66666667vw !important;
  }
  .cta--more {
    font-size: 3.6vw;
    padding-bottom: 1.8vw !important;
  }
  .cta--more::after {
    height: 0.55555556vw !important;
  }
  .cta--more::before {
    height: 0.55555556vw !important;
  }
  .arrow-indicator {
    display: none;
  }
  .indicator__dot-list {
    position: relative;
    display: block;
    width: 34.3055555556vw;
    height: 7.0833333333vw;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 30px;
    top: -2.3611111111vw;
  }
  .indicator__dot-item {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    width: 2.3611111111vw;
    height: 2.3611111111vw;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin-top: 2.5vw;
    margin-right: 1.6666666667vw;
    margin-bottom: 2.0833333333vw;
    margin-left: 2.0833333333vw;
    cursor: pointer;
  }
  .mo-dot-active {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .indicator__progress-list {
    display: none !important;
  }
  .indicator__controls {
    right: 2.6388888889vw!important;
    bottom: 3.6111111111vw!important;
  }
  .indicator__controls-mo-progress {
    width: 4.3055555556vw!important;
    height: 4.3055555556vw!important;
  }
}/*# sourceMappingURL=style.css.map */