@charset "utf-8";
@font-face {
    font-family: 'SamsungOne';
    src: url('../font/SamsungOne-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SamsungOne';
    src: url('../font/SamsungOne-700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungSharpSans';
    src: url('../font/SamsungSharpSans-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}

// 뷰포트 변환 믹스인 
// 정의하기
// $clientWidth : 100px;

$pc-width : 1440px;
$mobile-width : 720px;

@mixin calc-vw-pc($text, $pixel) {
    #{$text}: calc($pixel * 100) / $pc-width + vw;
    // $text: calc($pixel * 100) / $pc-width + vw;
}

@mixin calc-vw-mo($text, $pixel) {
    #{$text}: calc($pixel * 100) / $mobile-width + vw;
}

// important
@mixin calc-vw-pc-important($text, $pixel) {
    #{$text}: calc($pixel * 100) / $pc-width + vw + !important;
    // $text: calc($pixel * 100) / $pc-width + vw;
}
@mixin calc-vw-mo-important($text, $pixel) {
    #{$text}: calc($pixel * 100) / $mobile-width + vw + !important;
}

.border-box1 {
    @include calc-vw-pc-important(font-size, 30px);
    font-size: 10px;
    border: 1px solid red;
}
.border-box2 {
    @include calc-vw-mo(top, 30px);
    border: 1px solid blue;
}



// 호출하기


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-family: 'SamsungOne', Arial, sans-serif;
    font-size: 1.1rem;
    color: #000;
    line-height: 1.5;
    letter-spacing: 0.58;
    font-weight: 400;
}

.textarea{
    border: none; 
    outline:none; 
    resize: none; 
    background-color: transparent;
    overflow: hidden;
}

// box 보더 
.home-kv-carousel__slide-inner {
    // border: 1px solid blue;
}

.home-kv-carousel__text-wrap {
    border: 1px solid red;
}

// 공통 클래스
.text-color--black{color:#000 !important}
.text-color--white{color:#fff !important}
.cta--black{color: white; background-color: #000 !important}
.cta--white{background-color: #fff !important; color: #000 !important;}
.more-white {color:#fff !important}
.d-no{display: none !important}
.rotate {transform: rotate( 45deg );color: red;}
.pc-progress-active{background-color: rgba(255,255,255,0.6) !important;}

.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    // width: 1440px;
    // margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
}

// 상단 
.header {
    position: relative;
    display: block;
}

.main {
    position: relative;
    display: block;
    margin-top: 80px;
}

// .home-kv-carousel__wrapper {
//     position: relative;
//     display: flex;
//     justify-content: center;
// }

.home-kv-carousel {
    position: relative;
    display: block;
    width: 1440px;
    height: 640px;
    // width: 100vw; 
    // height: 44.44444vw; // 너비가 1440부터 작아져야 함.
    max-width: 1440px;
    max-height: 640px;
    background-color: rgba(199, 6, 6, 0.411);
    // overflow: hidden; // 스와이퍼 적용할 때 활성화 ㄱㄱ
    &__wrapper {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__slide-inner {
        position: relative;
        display: block;
        width: 100%;
        max-width: 1440px;
        // height: 43.44444vw;
        @include calc-vw-pc(height, 625.6px);
        max-height: 640px;
        overflow: hidden;
    }
    &__text-wrap {
        position: absolute;
        display: block;
        width: 50%;
        z-index: 10;
        &--top {
            left: 90px;
            top: 70px;
        }
        &--middle {
            @include calc-vw-pc(left, 85px);
            // top: 190px;
            top: 25%;
        }
        
    }
    &__headline {
        font-family: 'SamsungSharpSans', arial,sans-serif;
        font-weight: bold;
        font-size: 48px;
        line-height: 1.2;
        color: currentColor;
        word-wrap: break-word;
    }
    &__desc {
        margin-top: 24px;
        font-size: 18px;
        line-height: 1.33;
        color: currentColor;
        word-wrap: break-word;
        &-watch {
            font-size: 13px; 
            font-weight: 400;
            display: block;
            padding-top: 15px;
        }
    }
    &__cta {
        position: relative;
        display: flex;
        justify-content: flex-start;
        font-size: 14px;
        margin-top: 28px;
        line-height: 19px;
        font-weight: bold;
        align-items: center;
        text-align: center;
        .cta {
            &--more {
                position: relative;
                color: black;
                padding-bottom: 2px;
                &:hover {
                    &::before {
                        width: 100%;
                        transition: all 0.3s;
                    }
                    &::after {
                        width: 0%;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: currentColor;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    display: block;
                    width: 0%;
                    height: 2px;
                    background-color: currentColor;
                }
            }
            &--now {
                padding: 12px 22px;
                border-radius: 25px;
                transition: color 0.3s, background-color 0.3s;
                &:hover {
                    color: #eee !important;
                    background-color: #555 !important;
                }
            }
            &:nth-child(2) {
                @include calc-vw-pc(margin-left, 20px);
            }
        }
        
    }
    &__video-wrap {
        position: relative;
        display: block;
        width: 100%;
        .thumbnail {
            picture {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }

        .video {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            &--play {

            }
            &-player {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__background-wrap {
        position: relative;
        display: block;
        .thumbnail {
            img {
                width: 100%;
            }
        }
    }
    &__indicator-wrap {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: block;
        width: 100%; // 1440px
        max-width: 1440px;
        height: 80px;
        .indicator {
            position: absolute;
            left: 50%;
            top: 4px;
            transform: translateX(-50%);
            display: block;
            &-wrap {
                position: relative;
                display: inline-block;
                // direction: rtl;
                white-space: nowrap;
            }
            &__progress-wrap {
                display: inline-block;
                height: auto;
                // vertical-align: middle;
                // border: 2px solid #000;
            }
            &__progress-list{
                position: relative;
                display: flex;
                height: 45px;
                // align-items: flex-end;
            }
            &__progress-item {
                display: inline-flex;
                align-items: flex-end;
                width: 150px;
                min-height: 30px;
                cursor: pointer;
                border: 0;
                margin-right: 16px;
                background-color: transparent;
                // border: 1px solid red;
            }
            &__progress-item:hover .indicator__product-name {
                opacity: 1;
            }
            &__product-wrap {
                position: relative;
                display: block;
                width: 100%;
                margin-bottom: 13px;
            }

            &__product-line {
                position: absolute;
                left: 0;
                bottom: 4px;
                display: block;
                width: 100%;
                height: 2px;
                background-color: rgba(255,255,255,0.25);
            }
            &__product-name {
                position: absolute;
                left:0;
                bottom: 0;
                display: block;
                width: 100%;
                padding-bottom: 9px;
                font-size: 14px;
                font-family: 'SamsungOne';
                font-weight: 700;
                text-align: center;
                opacity: 0;
                transition: opacity 0.2s;
                color: #fff;
            }
            &__controls {
                position: absolute;
                right: -15px;
                bottom: 9px;
                display: block;
                border: 0;
                background-color: transparent;
                // pc 프로그레스 바
                &-pc-progress {
                    width: 16px;
                    height: 16px;
                }
                // 모바일 닷
                &__controls-dot {
                    display: none !important;
                }
            }
            
            
            
            // &__bar-wrap {
            //     position: relative;
            //     display: block;
            //     // width: 100%;
            //     // align-items: flex-end;
            //     height: 60px;
            //     margin-bottom: 20px;
            //     // background-color: rgb(110, 110, 150);
            // }
            // &__bar-list {
            //     position: relative;
            //     display: block;
            //     margin-top: 30px;
            //     float: left;
            // }
            // &__bar {
            //     position: relative;
            //     display: block;
            //     cursor: pointer;
            //     border: 0;
            //     margin-right: 10px;
            //     white-space: nowrap;
            //     float: left;
            //     &-line {
            //         background-color: rgba(0,0,0,0.2);
            //         // width: 10vw;
            //         @include calc-vw-pc(width, 144px);
            //         max-width: 170px;
            //         height: 2px;
            //         white-space: nowrap;
            //     }
            //     &-text {
                    
            //     }
            // }
            // &__toggle {
            //     position: absolute;
            //     right: -30px;
            //     top:50%;
            //     transform: translateY(-50%);
            //     display: block;
            //     margin-left: 16px;
            //     cursor: pointer;
            //     float: right;
            // }
        }
    }
}

// 화살표
.arrow-indicator-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 0;
    z-index: 30;
    max-width: 1440px;
}
.arrow-indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    max-width: 1440px;
    cursor: pointer;
    &--prev {
        // left: 2.08333333vw;
        left: 10px;
    }
    &--next {
        right: 10px;
    }
    &--circle {
        border-radius: 50%;
        border: 0;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
    }
}

// home-kv-carousel 반응형 
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .indicator__controls {
        @include calc-vw-pc-important(right, -15px);
        @include calc-vw-pc-important(bottom, 16px);
    }
    .home-kv-carousel__indicator-wrap .indicator__controls-pc-progress {
        @include calc-vw-pc(width, 16px);
        @include calc-vw-pc(height, 16px);
    }
    
    .home-kv-carousel {
        @include calc-vw-pc(width, 1440px);
        @include calc-vw-pc(height, 625.6px);
    }
    .home-kv-carousel__indicator-wrap {
        @include calc-vw-pc(height, 80px);
    }

    .home-kv-carousel__text-wrap {
        @include calc-vw-pc(width, 620px);
    }

    .home-kv-carousel__text-wrap--top {
        @include calc-vw-pc(left, 90px);
        @include calc-vw-pc(top, 70px);
    }

    .home-kv-carousel__headline {
        @include calc-vw-pc(font-size, 48px);
        // font-size: 3.33333vw;
    }
    .home-kv-carousel__desc {
        @include calc-vw-pc(margin-top, 24px);
        @include calc-vw-pc(font-size, 18px);
        // margin-top: 1.66666667vw;
        // font-size: 1.25vw;
    }
    .home-kv-carousel__cta {
        @include calc-vw-pc(font-size, 14px);
    }

    

    .cta--now {
        // @include calc-vw-pc(padding, 10.56px);
        padding: 0.7333vw 1.5278vw !important;
    }

    .arrow-indicator {
        @include calc-vw-pc(width, 42px);
        @include calc-vw-pc(height, 42px);
        @include calc-vw-pc(font-size, 13.33px);
        // width: 2.9167vw ;
        // height: 2.9167vw ;
        // font-size: 0.9257vw ;
    }

    // .indicator__controls-progress {
    //     @include calc-vw-pc(width, 16px);
    //     @include calc-vw-pc(height, 16px);
    // }

    .home-kv-carousel__indicator-wrap .indicator__progress-wrap {
        @include calc-vw-pc(height, 50px);
    }
    .home-kv-carousel__indicator-wrap .indicator__progress-list {
        @include calc-vw-pc(height, 45px);
    }
    .home-kv-carousel__indicator-wrap .indicator__progress-item {
        @include calc-vw-pc(width, 150px);
    }
    .home-kv-carousel__indicator-wrap .indicator__product-name {
        @include calc-vw-pc(font-size, 14px);
    }

    

}

@media only screen and (max-width: 767px) {
    .mb-30-mo{margin-bottom: 3.9063vw;}
    // .mt-30-mo{margin-top: 2.9063vw;}
    .mt-40-mo{margin-top: 5.2083vw;}
    .font-size-20-m{font-size: 20px !important;}
    .font-size-14-m{font-size: 14px !important;}
    .mobile-progress-active{background-color: #000 !important;}


    .main {
        margin-top: 56px;
    }

    .home-kv-carousel {
        max-height: 1100px ;
        // @include calc-vw-mo(height, 1100px);
        height: 143.4159vw;
    }
    
    .home-kv-carousel__slide-inner {
        height: 100%;
        max-height: 1080px;
    }

    // text-wrraper의 너비 설정
    .home-kv-carousel__text-wrap {
        width: 80vw !important;
        height: 70vw;
        text-align: center;
    }

    .home-kv-carousel__text-wrap--mobile-top {
        top: 10.8611vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .home-kv-carousel__text-wrap--mobile-bottom-center {
        top: 63.3611vw;
        left: 50%;
        transform: translate(-50%);
    }
    .home-kv-carousel__headline {
        font-size: 8.33333333vw;
        line-height: 1.4;
        font-weight: 400 ;
    }
    .home-kv-carousel__desc {
        @include calc-vw-mo(margin-top, 26.5px);
        font-size: 3.88888888vw;
    }
    .home-kv-carousel__desc-watch {
        margin-top: 2.22222222vw;
        font-size: 3.33333333vw;
    }

    .home-kv-carousel__cta .cta:nth-child(2) {
        @include calc-vw-pc(margin-left, 0px);
    }

    .home-kv-carousel__cta-mobile-type-1 {
        margin-top: 13.7778vw;
        font-size: 2.97222222vw !important;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 15vw;
    }
    .home-kv-carousel__cta-mobile-type-2 {
        justify-content: space-between;
        flex-direction: column;
    }

    .cta--now-mobile {
        text-align: center;
        font-size: 3.8vw;
        border-radius: 6.2552vw !important;
        padding: 3.77777778vw 6.66666667vw 4.05555556vw 6.66666667vw !important;
    }

    // .cta--now {
    //     padding: 3.3333vw 6.5278vw !important;
    // }
    .cta--more {
        font-size: 3.6vw;
        padding-bottom: 1.8vw !important;
    }
    .cta--more::after {
        height: 0.55555556vw !important;
    }
    .cta--more::before {
        height: 0.55555556vw !important;
    }

    .arrow-indicator {
        display: none ;
    }


    // 모바일 인디케이터 재생성
    .indicator__dot-list {
        position: relative;
        display: block;
        @include calc-vw-mo(width, 247px);
        @include calc-vw-mo(height, 51px);
        // width: 200px;
        // height: 40px;
        background-color: rgba(0,0,0,0.85);
        border-radius: 30px;
        @include calc-vw-mo(top, -17px);
        // top: -17px;
    }
    .indicator__dot-item {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        @include calc-vw-mo(width, 17px);
        @include calc-vw-mo(height, 17px);
        // width: 17px;
        // height: 17px;
        background-color: rgba(255,255,255,0.3);
        border-radius: 50%;
        @include calc-vw-mo(margin-top, 18px);
        @include calc-vw-mo(margin-right, 12px);
        @include calc-vw-mo(margin-bottom, 15px);
        @include calc-vw-mo(margin-left, 15px);
        cursor: pointer;
        // margin: 19px;
    }
    .mo-dot-active {
        background-color: rgba(255,255,255,0.9);
    }

    // 모바일 인디케이터 조절
    // .home-kv-carousel__indicator-wrap .indicator-wrap {
    //     border-radius: 30px;
    //     background-color: #ffffffe6;
    //     border: 1px solid #e6e6e6;

    // }
    // .home-kv-carousel__indicator-wrap .indicator__progress-wrap {
    //     // max-height: 16px;
    //     @include calc-vw-mo(padding-top, 15px);
    //     @include calc-vw-mo(padding-right, 16px);
    //     @include calc-vw-mo(padding-bottom, 39.6285px);
    //     @include calc-vw-mo(padding-left, 19px);
    //     // padding: 15px 16px 15px 19px;
    // }
    // .home-kv-carousel__indicator-wrap .indicator__progress-list {
    //     height: 0px;
    // }

    // .home-kv-carousel__indicator-wrap .indicator__progress-item {
    //     @include calc-vw-mo(width, 17px);
    //     @include calc-vw-mo(min-height, 17px);
    //     height: auto;
    //     border-radius: 50%;
    //     background-color: #757575;
    //     // border-top-left-radius: 
    // }

    // .home-kv-carousel__indicator-wrap .indicator__controls{
    //     @include calc-vw-mo(font-size, 35px);
    //     padding-top: 8px;
    //     margin-left: -12px;
    //     padding-right: 10px;
    // }

    .indicator__progress-list {
        display: none !important;
    }

    .indicator__controls {
        @include calc-vw-mo-important(right, 19px);
        @include calc-vw-mo-important(bottom, 26px);
    }
    .indicator__controls-mo-progress {
        @include calc-vw-mo-important(width, 31px);
        @include calc-vw-mo-important(height, 31px);
    }
}
