* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-family: 'SamsungOne', Arial, sans-serif;
    font-size: 1.1rem;
    color: #000;
    line-height: 1.50;
    letter-spacing: 0.58;
    font-weight: 400;
    overflow-x: hidden;
}
legend {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    font-size: 1px;
}
*:focus {
    box-shadow:0 0 0 2px #fff;
    outline:2px dotted #000 !important;
}

*:focus:not(:focus-visible) {
    outline: none;
}

.textarea{
    border: none; 
    outline:none; 
    resize: none; 
    background-color: transparent;
    overflow: hidden;
}
.height-test {
    height: 1000px;
}

// 공통 클래스
.color--black{color:#000 !important}
.cta--black{
    padding: 12px 22px;
    border-radius: 25px;
    background-color: #000 ;
    color: #fff ;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
    color: #eee !important;
    background-color: #555 !important;
    }
}
.more-white {color:#fff !important}
.pc-product-name-active{opacity: 1 !important;}
.visible {visibility: visible; opacity: 1;}
.hidden {visibility: hidden;opacity: 0;}
.animated {animation-duration: 0.3s !important;}
.text-shadow-white {text-shadow: 0 0 3px rgb(255 255 255 / 75%);}
.text-shadow-black {text-shadow: 0 0 3px rgb(0 0 0 / 75%);}

.cta__inner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    margin-top: 28px;
    line-height: 19px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    .cta {
        position: relative;
        display: block;
        &--more {
            position: relative;
            color: black;
            padding-bottom: 2px;
            &:hover {
                &::before {
                    width: 100%;
                    transition: all 0.3s;
                }
                &::after {
                    width: 0%;
                }
            }
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                display: block;
                width: 100%;
                height: 2px;
                background-color: currentColor;
            }
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                display: block;
                width: 0%;
                height: 2px;
                background-color: currentColor;
            }
        }
        &--now {
            padding: 12px 22px;
            border-radius: 25px;
            background-color: #fff ;
            color: #000 ;
            transition: color 0.3s, background-color 0.3s;
            &:hover {
                color: #eee !important;
                background-color: #555 !important;
            }
        }
        &:nth-child(2) {
            @include calc-vw-pc(margin-left, 20px);
        }
    }
    
} 


.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
    z-index: 2001;
}

.gnb-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 2000;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.3s;
}
.mo-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 2001;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.3s;
}
.open {
    display: block !important;
}
.mo-gnb {
    opacity: 1 !important;
    visibility: visible !important;
}
.badge {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 20px;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 3px rgb(0 0 0 / 56%);
}
.blue-badge {
    @extend .badge;
    background-color: #2189ff;
}
.red-badge {
    @extend .badge;
    background-color: #ef3434;
}