// key-feature-tab
.key-feature-tab {
    padding-top: 90px;
    &__inner {
        @extend .container;
        overflow: hidden;
    }
    &__headline {
        position: relative;
        margin-top: 48px;
        font-family: 'SamsungSharpSans',arial,sans-serif;
        font-weight: bold;
        font-size: 38px;
        line-height: 1.2;
        color: currentColor;
        text-align: center;
        z-index: 2;
    }
    &__list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 51px;
        height: 64px;
        z-index: 2;
    }
    &__item {
        button {
            position: relative;
            font-family: 'SamsungOne',arial,sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            .line {
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                bottom:-2px;
                display: inline-block;
                width: 0%;
                height: 2px;
                font-size: 0;
                background-color: #000;
                z-index: 3;
                transition: width 0.2s;
            }
            .line-active {
                width: 100%;
            }
            &:hover::after {
                content: '';
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 100%;
                height: 100%;
                padding: 8px 16px;
                border-radius: 20px;
                background-color: rgba(255,255,255, 0.2);
            }
        }
    }
    &__slide {
        position: relative;
        display: block;
        z-index: -1 !important;
        height: 653px;
        #parallax-duration {
            transition: all .1s 220ms;
        }
        &-title {
            font-family: 'SamsungSharpSans',arial,sans-serif;
            font-weight: bold;
            font-size: 48px;
            line-height: 1.2;
            text-align: center;
            padding-bottom: 560px;
            cursor: default;
            transform: translateX(0);
            transition: transform 0.5s;
            span {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                display: block;
                width: 830px;
                word-wrap: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
        &-cta {
            padding-bottom: 48px;
            .cta__inner {
                margin-top: 2px;
                justify-content: center;
                align-items: center;
                .cta--black {
                    font-size: 14px;
                    padding: 11px 26px;
                }
            }
            transform: translateX(0);
            transition: transform 0.5s;
        }
        &-background {
            position: absolute;
            top: -157px;
            width: 100%;
            z-index: -1;
            img {
                width: 100%;
            }
        }
    }
    
}

.key-feature-tab--white .cta--more {
    color: #fff;
}
// end key-feature-tab

// text-block  
.text-block {
    position: relative;
    display: block;
    margin-top: 97px;
    &__inner {
        @extend .container;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__headline {
        font-family: 'SamsungSharpSans',arial,sans-serif;
        font-size: 38px;
        font-weight: bold;
        word-break: keep-all;
        text-overflow: clip;
        overflow: visible;
        text-align: center;
    }
    &__search {
        position: relative;
        display: block;
        width: 448px;
        border: 1px solid #757575;
        background: #f7f7f7;
        padding: 12px 48px 12px 64px;
        border-radius: 22px;
        margin-top: 25px;
        input {
            position: relative;
            display: block;
            width: 100%;
            background-color: transparent;
            border: 0;
            font-size: 18px;
            line-height: 24px;
            font-family: 'SamsungOne',arial,sans-serif;
        }
        .text-close {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            line-height: 12px;
            border: 0;
            background-color: rgba(0, 0, 0, 0.67);
            color: #fff;
            visibility: hidden;
            opacity: 0;
            cursor: pointer;
        }
        .icon {
            position: absolute;
            left: 20px;
            top: 50%;
            display: block;
            transform: translateY(-50%);
            width: 24px;
        }
    }
    &__keyword {
        width: 600px;
        margin: 16px 20px 0 20px;
        text-align: center;
        .keyword-item {
            position: relative;
            display: inline-block;
            padding: 0 4px 8px 4px;
            button {
                background-color: rgba(255, 255, 255, 0.3);
                border: 1px solid rgba(0,0,0,0.15);
                height: 32px;
                padding: 8px 16px;
                border-radius: 24px;
                font-size: 12px;
                line-height: 1.33;
                white-space: nowrap;
                font-family: 'SamsungOne',arial,sans-serif;
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                    border-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}
.delete .text-close {
    visibility: visible;
    opacity: 1;
}
// text-block END 