// scroll-top
.scroll-top {
    position: fixed;
    right: 32px;
    bottom: 24px;
    display: block;
    width: 48px;
    height: 48px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    z-index: 9999;
    opacity: 0 !important;
    visibility: hidden !important;
    border: 0;
    cursor: pointer;
    visibility: visible;
    transition: all 0.5s;
    &__inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        color: #fff;
        font-size: 24px;
    }
}
.scroll-open {
    opacity: 1 !important;
    visibility: visible !important  ;
}

// chat 영역
.chat{
    position: fixed;
    right: 30px;
    bottom: 85px;
    display: block;
    z-index: 99999;
    &__inner {
        position: relative;
        display: block;
        box-shadow: rgb(0 0 0 / 9%) 0px 1px 6px 0px, rgb(0 0 0 / 15%) 0px 2px 32px 0px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid rgb(0, 195, 22);
        z-index: 99999;
        overflow: hidden;
        img {
            background-size: cover;
            background-color: transparent;
            width: 70px;
            height: 70px;
            cursor: pointer;
        }
    }
    &-close {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        width: 16px;
        height: 16px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border: 0;
        z-index: 999999;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        cursor: pointer;
    }
    &:hover {
        .chat-close {
            display: block !important;
        }
    }
} 

// text-contents 영역
.text-contents {
    position: fixed;
    right: 110px;
    bottom: 83px;
    display: block;
    width: 150px;
    height: 52px;
    box-shadow: rgb(49 39 39 / 20%) 0px 4px 10px 0px;
    border-radius: 20px;
    background-color: #fff;
    z-index: 999999;
    span {
        position: relative;
        display: block;
        padding: 10px 20px;
        font-size: 12px;
        font-family: 'SamsungOne', sans-serif, serif;
        line-height: 1.3;
    }
    &__close {
        position: absolute;
        right: 8px;
        top: 8px;
        display: block;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 50%;
        border: 0;
        cursor: pointer;
    }
}

// Feedback 영역
.feedback {
    position: fixed;
    right: 0;
    bottom: 315px;
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 99999;
}